.lg-on {
  .lg-rotate {
    color: #999;
    cursor: pointer;
    float: right;
    font-size: 24px;
    height: 47px;
    line-height: 27px;
    padding: 10px 0;
    text-align: center;
    width: 50px;
    text-decoration: none !important;
    outline: medium none;
    transition: color 0.2s linear;
    &:hover {
      color: #fff;
    }
  }
  .lg-current .lg-image {
    transform-origin: 50% 50% !important;
  }
}
