$topFloor: 9;
$middleFloor: 8;
$bottomFloor: 7;
$subFloor: 6;

$black: #333;
$lightBlack: #666;
$gray: #999;
$lightGray: #ccc;
$bg: #f8f8f8;

$darkBlue: #2E87FF;

$border: 1px solid #F0F0F0;

$defaultAvatargeren: '~@/assets/img/geren_default@2x.png';
$defaultAvatarqun: '~@/assets/img/qun_default@2x.png';

$fontFamily: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

